<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/about.css">
</head>

<body>
    {{>navbar}}

    <div class="about">
        <h1>About Us</h1>
    </div>

    <div class="l_section">
        <div id="text">
            <h1>Our Company</h1>
            <p>
                TSI Packers & Movers, where you can find the right service providers for home, office, commercial,
                local,
                domestic, and international relocation needs. More importantly, you can get the best deal on booking the
                right service provider through this portal.
                Finding a reliable moving company is much needed for a safe and hassle-free relocation experience. But
                you may face challenges when it comes to finding the right service. You need plenty of time and research
                work ahead to ensure your chosen mover is a legitimate service provider. You cannot just anyone and let
                them handle your possessions.
                We won’t disappoint you. We will make your search easier and allow you to choose from our pre-verified
                packers and movers available in our area. All you need to do is to fill out the inquiry form and submit
                it online. Once we will receive your request we will start our work
            </p>

        </div>



        <img src="./images/mp3.jpg" alt="">



    </div>




    <div>
        <div class="we_believe">
            <h1 id="h1">We Believe In</h1>
            <h2 id="h2">Satisfying our customers from each corner.</h2><br>
        </div>
        <div class="a_mission">
            <h1 id="mission">Our Mission</h1>
            <p>Invest significantly in Research, Innovation, and analysis to keep upgrading our product offerings.

                Make our organization system driven by refining existing processes and establishing Standard
                Operating Procedures.
                Committed towards welfare of the society and respect for the environment.</p>
        </div>
        <div class="vision">
            <h1>Our Vision</h1>
            <p>We are committed to quality and customer satisfaction, we do not do business with any logistic
                companies without verifying them. In addition, we respect your valuable suggestions and feedback.

                We always try to resolve grievances as quickly as possible if you have any. </p>
        </div>
    </div>


    {{>footer}}
    <script src="./js/script.js"></script>
</body>

</html>