<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/services.css">
</head>

<body>
    {{>navbar}}


    <div class="l_section">
        <div id="text">
            <h1>Commercial Shifting</h1>
            <p>
                Are you looking for warehousing and household storage services in India? Do you need warehousing space
                for safe storage of your household items or commercial goods? Are you looking for the best household
                storage space in your city? If yes then you don’t need to worry at all. We at Krishna Packers & Movers
                understand well that finding safe and reliable warehousing and storage space for personal storage or
                commercial goods storage can be difficult.But you don’t need to worry at all. We are here to help you
                the best quality commercial & household storage services in India very reasonable price. Now you can
                quickly hire the best quality storage and warehousing services in India at very affordable rates.

            Warehouses can safely and conveniently store Computers, Documents, Home furnishings, Antiques, Furs,
            Linens, Mattresses, Electronic Appliances, Musical Instruments and innumerable other stuff. Our company
            provides the best warehousing and storage services for storing such goods, for a specified time frame.
            </p>

        </div>



        <img src="./images/industrial-moving.jpg" alt="">



    </div>


    {{>footer}}
    <script src="./js/script.js"></script>
</body>

</html>