<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Packer and mover footer</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    {{!-- Navbar Start--}}

    {{>navbar}}
    {{!-- Navbar end --}}


    {{!-- Sliding window code --}}
    <div class="s_container">
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img
                        src="https://www.expresspackersmovers.co.in/wp-content/uploads/2019/03/Packers-and-movers.jpg"
                        alt=""></div>
                <div class="swiper-slide"><img
                        src="https://sihagtranspackers.com/wp-content/uploads/2019/05/blog-creative.jpg" alt=""></div>
                <div class="swiper-slide"><img src="https://www.sppackersandmover.com/images/bhanu.jpg" alt=""></div>
                ...
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>

    </div>


    {{!-- Loading and unloading code --}}


    <div class="home">
        <div class="form">
            <h3>TSI PACKER AND MOVER</h3>
            <p>We help Your Home Shifting services Provider</p>

        </div>
    </div>
    <div class="l_section">
        <div id="text">
            <h1>Loading and unloading</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus libero dolorem molestiae doloribus
                repellat error dicta repellendus provident, fugit et reiciendis molestias, eos explicabo necessitatibus?
                Omnis explicabo, quo dolores, quas, quod eum corporis sapiente iure quos consequuntur nobis? Odio
                maiores eaque dicta eius magnam facere libero aut, velit ratione esse?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel aut illo reiciendis porro ad inventore
                ipsam ullam obcaecati et nemo fugiat quasi, hic tempora amet perspiciatis voluptate molestiae sapiente.
                Quasi.
            </p>

        </div>



        <img src="https://www.kindpng.com/picc/m/365-3653682_packers-movers-services-hd-png-download.png" alt="">



    </div>


    {{!-- Services we provide --}}
    <section class="services" id="services">
        <div class="services">
            <h2>SERVICES</h2>
            <p>What We Provide</p>
        </div>


        <div class="box-container">
            <div class="box" data-aos="fade-up" data-aos-delay="150">
                <div class="image">
                    <img src="https://static6.depositphotos.com/1144191/640/i/450/depositphotos_6405383-stock-photo-happy-couple-in-their-new.jpg"
                        alt="" />
                </div>
                <div class="content">
                    <h3>door-door shifting</h3>
                    <a href="/door_to_door">read more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>

            <div class="box" data-aos="fade-up" data-aos-delay="300">
                <div class="image">
                    <img src="https://media.istockphoto.com/photos/carton-boxes-in-empty-office-moving-office-concepts-picture-id1181274590?k=20&m=1181274590&s=612x612&w=0&h=7EFpWsD0BDBQrfHk1k2QItUfybgx22RAZoE7hqU5_gQ="
                        alt="" />
                </div>
                <div class="content">
                    <h3>Office shifting </h3>
                    <a href="/office_shiftng">read more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>

            <div class="box" data-aos="fade-up" data-aos-delay="450">
                <div class="image">
                    <img src="https://www.kindpng.com/picc/m/365-3653682_packers-movers-services-hd-png-download.png"
                        alt="" />
                </div>
                <div class="content">
                    <h3>Warehouse and Storage</h3>
                    <a href="/warehouse_shifting">read more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>

            <div class="box" data-aos="fade-up" data-aos-delay="600">
                <div class="image">
                    <img src="https://media.istockphoto.com/photos/on-the-road-carrying-cars-picture-id510242145?k=20&m=510242145&s=612x612&w=0&h=tO7FKliyGHxJoh-fXNGlGIJ5j3wG9ltciYmyUmUAfOM="
                        alt="" />
                </div>
                <div class="content">
                    <h3>Car Transportation</h3>
                    <a href="/car_transportaion">read more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>

            <div class="box" data-aos="fade-up" data-aos-delay="750">
                <div class="image">
                    <img src="https://5.imimg.com/data5/DS/NS/JL/SELLER-1867105/industrial-shifting-services-500x500.jpg"
                        alt="" />
                </div>
                <div class="content">
                    <h3>Commercial & Industrial Shifting </h3>
                    <a href="/commercial">read more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>

            <div class="box" data-aos="fade-up" data-aos-delay="90 0">
                <div class="image">
                    <img src="https://www.suprememoversandpacker.com/sites/default/files/content-images/supreme/service-area/domestic-relocation-intro.jpg"
                        alt="" />
                </div>
                <div class="content">
                    <h3>Loading - Uploading</h3>
                    <a href="/loading_uploading">read more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </section>








    {{!-- Navbar start --}}
    {{>footer}}
    {{!-- navbar end --}}
    <script src="./js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
            autoplay: {
                delay: 3000,
                disableOnIntraction: false,
            },

            loop: true,

            pagination: {
                el: '.swiper-pagination',
                clickable: true,

            },

            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },


        });
    </script>
</body>

</html>