<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   
</head>

<body>
    <div class="bdy">
        <footer>
            <div class="f_container">
                <div class="sec aboutus">
                    <h2>TSI Packers and Movers</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure corrupti soluta,
                        numquam fugit blanditiis voluptatum architecto? Natus assumenda dolor voluptatem
                        , laboriosam cupiditate soluta repudiandae recusandae architecto tenetur
                    </p>
                    <ul class="sci">
                        <li><a href="#"><i class="fa-brands fa-facebook" style="color: #933ded;"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter" style="color: #933ded;"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram" style="color: #933ded;"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-youtube" style="color: #933ded;"></i></a></li>
                    </ul>
                </div>
                <div class="sec quicklinks">
                    <h2>Quick Links</h2>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>

                </div>
                <div class="sec contact">
                    <h2>Contact Info</h2>
                    <ul class="info">
                        <li>
                            <span><i class="fa-solid fa-location-dot " style="color: #933ded;"></i></span>
                            <span>ISI-6, RIICO Institutional Area, Sitapura,
                                <br> Jaipur ,Pincode 302022, <br>India</span>
                        </li>
                        <li>
                            <span><i class="fa-solid fa-phone" style="color: #933ded;"></i></span>
                            <p><a href="tel:91234567892">+91 123 456 7892</a><br>
                                <a href="tel:919876543219">+91 987 654 3219</a>
                            </p>
                        </li>
                        <li>
                            <span><i class="fa-solid fa-envelope" style="color: #933ded;"></i></span>
                            <p><a href="mailto:tsipackerandmover@gmail.com">tsipackerandmover@gmail.com</a></p>
                        </li>
                    </ul>

                </div>
            </div>
        </footer>
        <div class="copyrightText">
            <p>Web Design By : Thoughtsstream pvt ltd. All rights are reserved</p>
        </div>
    </div>

</body>

</html>